<html>
    <header>
        <title>
            Philip's Fortune Teller
        </title>
    </header>
    <body>
        <h1>
            Philip's Fortune Teller
        </h1>
        <p>
        what's your Fortune from the 01/06/2020 to 01/07/2021? 
        <br>
        Fortune number: {{number}}
        <br>
        Fortune day: {{day}}
        <br>
        </p>
        Your Fortune: 
            {% for fortune in all_fortune %}
            {{ fortune.fortune }} 
            <br>
            {% endfor %}
        </p>
    </body>
</html>